[Unit]
After=network.target

[Service]
ExecStart=/usr/local/etc/slowdns/slowdns -udp :5300 -privkey-file server.key slowdns-sgdo2.idssh.net 127.0.0.1:80
Type=simple
WorkingDirectory=/usr/local/etc/slowdns

[Install]
WantedBy=default.target
